@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.navbar{
    display: flex;
    position: relative;
    justify-content: space-between;
    padding:0 1rem;
    align-items: center;
    font-family: poppins;
    font-weight: 300;
    font-style: italic;
    /* border: 2px solid blue; */
}
.logo{
    width: 220px;
}
.item{
    position: relative;
    cursor: pointer;
}
.item::after{
    content: '';
    display: block;
    margin-top: 0.2rem;
    position: absolute;
    width: 0%;
    height: 2px;
    background: #fff;
    transition: width 0.3s;
}
.item:hover::after{
    width: 100%;
}

.menu-container{
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-right: 5rem;
}
.menu{
    display: flex;
    gap: 1.5rem;
}
.button{
    background-color: white;
    color: #000000;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    transition: box-shadow 0.2s;
    font-weight: 500;
}
.button:hover{
    box-shadow: 0 0 10px 2px rgba(242, 239, 239, 0.7);
}

.hamburger{
    /* display:flex; */
    flex-direction: column;
    /* gap: 0.3rem; */
    cursor: pointer;
    display: none;
    position:absolute;
    top: 2.7rem;
    right:6rem;
    justify-content: space-between;
    width: 2.5rem;
    height: 2rem;
}

.hamburger span{
    height: 0.3rem;
    width: 100%;
    background-color: #fff;
    border-radius: 0.2rem;
}

@media (max-width: 1025px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .menu-container{
        width: 100%;
        flex-direction: column;
        margin-bottom: 2rem;
    }
    .menu{
        display: none;
        width: 100%;
        margin-bottom: 0.5rem;
        /* margin-top: 1rem; */
        flex-direction: column;
        /* border: 2px solid green; */
    }
    .open{
        display: flex;
    }
    .button{
        display: none;
    }
    .button-open{
        display:block;
    }

    .item{
        width: 100%;
        text-align: center;
        /* border: 2px solid red; */
    }
    .item::after{
        display: none;
    }
    .user-icon{
        display: none;
    }
    .hamburger{
        display: flex;
    }
}

@media screen and (max-width: 656px) {
    .logo{
        width: 180px;
    }
    .hamburger{
        width: 2rem;
        height: 1.5rem;
        top: 2.5rem;
        right: 3rem;
    }
    .hamburger span{
        height: 0.3rem;
    }
}